body {
  position: absolute;
  left: 10px;
}
div {
  width: 100px;
  height: 100px;
  color: white;
}
#red {
  background-color: red;
  position: relative;
  left: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
#green {
  background-color: green;
  position: relative;
  left: 100px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
#blue {
  background-color: blue;
  position: relative;
  left: 200px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
#gray {
  background-color: gray;
  position: relative;
  left: 300px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
